* {
    box-sizing: border-box;
}

.subjects {
    background-color: #f7f9f9;
    padding: 82px 0;
}

.subjects::after {
    display: block;
    clear: both;
    content: "";
}

.mrgsbj {
    margin: auto;
    padding: 0 15px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.sbjcontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.sbjtext-center {
    text-align: center;
}

.sbjheader h2 {
    font-family: Cousine;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin: 0 0 10px;
    font-size: 1.953em;
    font-weight: 500;
    text-align: center;
}

.sbjslogan h4 {
    font-family: MRoboto;
    font-weight: 500;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
    font-size: 1.25em;
}

.sbjslogan {
    text-align: justify;
}

@media (min-width: 1140px) {
    .mrgsbj {
        width: 1140px;
    }
}

@media (min-width: 1200px) {
    .sbjcontainer {
        width: 1170px;
    }
}